body {
    background-color: rgb(253, 251, 251);
    font-family: fantasy;
}

#cabecalho {
    position: static;
    top: 0;
    background-color: green;
    text-align: center;
    color: white;
}

img {
    height: 180px;
    width: 180px;
    padding: 10px;
}

.nav-links li {
    display: inline-block;
    width: 100px;
}

#licoes_aprendidas {
    display: inline-block;
}

#licoes_a_aprender {
    display: inline-block;
    padding: 20px;
}

#artigo {
    padding: 20px;
}

#parte {
    padding: 20px;
}